{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
      <time datetime='{{ .Date.Format "2006-01-02" }}'>
          {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
      </time>
  </i>
</p>
{{ end }}{{ end }}
<content>
    {{ .Content }}
</content>
<!--
     Tenho que arranjar os links dos posts...
     Colocar uma opção que dê toggle nesta situação.

     Dá fetch dos posts todos,
     [a,b,c,d]
     arranja um apontador para o imediatamente a seguir e
     o imediatamente atrás.


     {{ if not .Data.Singular }}
     <small>
     <div>
     {{ range .Site.Taxonomies.tags }}
     <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
     {{ end }}
     </div>
     </small>
     {{ end }}

-->

<div style="font-size:0.8em;display:flex;gap:16px;justify-content:center;">
    <p>
        {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.Permalink }}"><< Previous Post</a>
        {{ else }}
        <p><strike><< Previous Post</strike></p>
        {{ end }}
    </p>
    <p>|</p>
    <p>
        {{ if .NextInSection }}
        <a href="{{ .NextInSection.Permalink }}">Next Post >></a>
        {{ else }}
        <p><strike>Next Post >></strike></p>
        {{ end }}
    </p>
</div>

<!--
     <div style="font-size:0.8em;display:flex;gap:16px;justify-content:center;">
     <p><< Previous Post</p>
     <p>|</p>
     <p>Next Post >></p>
     </div>
-->

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
