<!-- Google tag (gtag.js) -->

<!-- script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
<script>

  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}

  gtag('js', new Date());
  gtag('config', 'GA_TRACKING_ID', { 'anonymize_ip': true });

</script -->

<!-- End Google tag (gtag.js) -->



<!-- Google Tag Manager -->

<!--script>

  (function(w, d, s, l, i){

    w[l] = w[l]||[];
    w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
    
    var f=d.getElementsByTagName(s)[0], j=d.createElement(s), dl=l!='dataLayer'?'&l='+l:'';
    
    j.async=true;
    j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
    
    f.parentNode.insertBefore(j,f);

  })(window, document, 'script', 'dataLayer', 'GTM-KXWTMXX7');
  
</script-->

<!-- End Google Tag Manager -->
