<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
{{- partial "favicon.html" . -}}
<title>{{- block "title" . }}{{ .Site.Title }}{{- end }}</title>

{{- partial "seo_tags.html" . -}}
<meta name="referrer" content="no-referrer-when-downgrade" />

{{ with .OutputFormats.Get "rss" -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{- partial "style.html" . -}}
