{{ if (.Param "enablePostNavigator")}}
{{if eq .Type "blog" }}
<div class="post-navigator">
  <p>
    {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}">
      << Previous Post</a>
        {{ else }}
        <strike>
          << Previous Post</strike>
            {{ end }}
  </p>
  <p>|</p>
  <p>
    {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}">Next Post >></a>
    {{ else }}
    <strike>Next Post >></strike>
    {{ end }}
  </p>
</div>
{{ end }}
{{ end }}
